:local {
  .about {
    margin: 20px;

    .home-section-title {
      font-size: 32px;
      color: blue;
    }
    .home-section-content {
      font-size: 18px;
      margin-bottom: 20px;
    }

  }

  .home-section-title {
    font-size: 32px;
    color: blue;
  }
  .home-section-content {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
