body {
  font-family: Helvetica;
  /*background-color: #e5f3d1;*/
  color: #1e180e;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
  text-align: center;
  padding-bottom: 12px;
}

.x-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.error {
  color: red;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  background-color: #7fc857;
  border-color: #66a046;
}


/*Navbar*/

.navbar {
  background: #296d36;
  border-color: #66a046;
  border-radius: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.navbar-inverse .navbar-brand {
    color: #d8d8d8;
}

.navbar-inverse .navbar-nav>li>a {
    color: #d8d8d8;
}

.navbar-right {
    float: right!important;
}

@media (max-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
  .navbar-right {
      margin-right: 0px;
  }
}

/* Map Component */
/* Used in:
    /layout/Home
    /layout/CreateContainer
    /layout/HikeContainer
*/
.map-section {

}


/* Home Component */
.homepage {

}



/* Create Hike component*/
.image-drop {
  width: 150px;
  height: 150px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.image-drop-text {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}
.hike-images .image-list-preview {
  display: inline-flex;
  padding-left: 2px;
  padding-right: 2px;
}


.parent {
  position: relative;
  display: inline-block;
}
.image-preview {
  width: 150px;
  height: 150px;
  margin: 1em;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  /*color: black;*/
  background-color: #fff;
}


/* Hike Component */
.hikeBlock {
  padding-top: 6px;
  padding-bottom: 6px;
}
.hike-images .hike-image{
  display: inline-flex;
  padding-left: 2px;
  padding-right: 2px;
}



.wrapper {
  overflow-y: scroll;
  display: flex;
  margin: 0;

  height: 100vh;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;

  flex-direction: column;

  @media (--screen-phone-lg) {
    flex-direction: row;
  }

}

/* CreateHike Component */
.btn-change {
  margin-right: 10px;
}

/* Account Component */
.account-image {
  margin-left:auto;
  margin-right:auto;
  display:block;
  border-radius: 4px;
}

.account-image-box {
  border-radius: 4px;
  background-color: #f7fbf5;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 22px;
  margin-right: 22px;
  border-width: 1px;
  border-style: solid;
  border-color: #515c41;
  -webkit-box-shadow: 6px 13px 50px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 13px 50px -15px rgba(0,0,0,0.75);
  box-shadow: 6px 13px 50px -15px rgba(0,0,0,0.75);
}

.bio-block {
  border-radius: 4px;
  background-color: #f7fbf5;
  padding: 1em;
  margin-left: 22px;
  margin-right: 22px;
  border-width: 1px;
  border-style: solid;
  border-color: #515c41;
  -webkit-box-shadow: 6px 13px 50px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 13px 50px -15px rgba(0,0,0,0.75);
  box-shadow: 6px 13px 50px -15px rgba(0,0,0,0.75);
}

.profile-city {
  margin-left: 1em;
}

.bio {
  padding: 1em;
}

.edit-bio {
  resize: vertical;
}

.update-profile-image {
  padding-left: 2em;
}

.text-center {

   text-align:center
}

.change {
  margin-left: 2em;
}



/* Review Component */
.reviews {
  list-style-type: none;
  padding-left: inherit;
}

.review-block {
  border-width: 1px;
  border-style: solid;
  border-color: #515c41;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 1.5em;
  background-color: #f7fbf5;
  -webkit-box-shadow: 6px 13px 50px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 13px 50px -15px rgba(0,0,0,0.75);
box-shadow: 6px 13px 50px -15px rgba(0,0,0,0.75);
}

.review-header {
  padding-top: 0;
  font-weight: 400;
}

.review-edit-button {
  float: right;
}

.hike-review-photos {
  list-style-type: none;
  display: inline-flex;
}

.hike-review-photo {
  margin-right: 5px;
}

.icon-image {
  border-radius: 20px;
  margin-right: 6px;
}

#description {
  resize: vertical;
}
