body {
  font-family: fantasy;
  /*background-color: #e5f3d1;*/
  color: #515c41;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
  text-align: center;
  padding-bottom: 12px;
}

.x-button {
  position: absolute;
  top: 2px;
  : 2px;
}



/*Navbar*/
.navbar {
  border-radius: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.navbar-right {
    float: right!important;
}

@media (max-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
  .navbar-right {
      margin-right: 0px;
  }
}






/* Create Hike component*/
.image-drop {
  width: 150px;
  height: 150px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.image-drop-text {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}
.hike-images .image-list-preview {
  display: inline-flex;
  padding-left: 2px;
  padding-right: 2px;
}


.parent {
  position: relative;
  display: inline-block;
}
.image-preview {
  width: 150px;
  height: 150px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  background-color: #fff;
}


/* Hike Component */
.hikeBlock {
  padding-top: 6px;
  padding-bottom: 6px;
}
.hike-images .hike-image{
  display: inline-flex;
  padding-left: 2px;
  padding-right: 2px;
}



.wrapper {
  overflow-y: scroll;
  display: flex;
  margin: 0;

  height: 100vh;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;

  flex-direction: column;

  @media (--screen-phone-lg) {
    flex-direction: row;
  }

}

/* CreateHike Component */
.btn-change {
  margin-right: 10px;
}

/* Account Component */


/* Review Component */
.reviews {
  list-style-type: none;
  padding-left: inherit;
}

.review-block {
  border-width: 1px;
  border-style: solid;
  border-color: #515c41;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 1.5em;
}

.review-header {
  padding-top: none;
  font-weight: 400;
}

.review-edit-button {
  float: right;
}

.icon-image {
  border-radius: 20px;
  margin-right: 6px;
}


/*temp shit*/
